<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="InfoChange.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="InfoChange.Properties.Settings.ConnectionString" connectionString="Provider=LCPI.IBProvider.3;Data Source=firebird;Persist Security Info=True;Password=masterkey;User ID=SYSDBA;Location=firebird:86_21;dbclient_library=C:\Program Files\Firebird\Firebird_2_1\bin\fbclient.dll;ctype=win1251"
      providerName="System.Data.OleDb" />
    <add name="InfoChange.Properties.Settings.ConnectionString2"
      connectionString="Provider=LCPI.IBProvider.3;Data Source=firebird;Persist Security Info=True;Password=masterkey;User ID=SYSDBA;Location=firebird:86_21;ctype=win1251" />
    <add name="InfoChange.Properties.Settings.ConnectionStringRDB"
      connectionString="Provider=LCPI.IBProvider.3;Data Source=rdb-copy/3051;Persist Security Info=True;Password=masterkey;User ID=SYSDBA;Location=rdb-copy/3051:ncore-fssp-8621;dbclient_library=C:\PKOSP_DEPLOYMENT\rdb\bin\fbclient.dll;ctype=win1251" />
    <add name="InfoChange.Properties.Settings.ConnectionStringGIBDD"
      connectionString="Provider=LCPI.IBProvider.3;Data Source=10.10.12.25/3050;Persist Security Info=True;Password=masterkey;User ID=SYSDBA;Location=10.10.12.25/3050:d:\db\FSSPRK-TOOLS.RDB;dbclient_library=C:\PKOSP_DEPLOYMENT\rdb\bin\fbclient.dll;ctype=win1251" />
  </connectionStrings>

  <appSettings>
  </appSettings>
  <applicationSettings>
    <InfoChange.Properties.Settings>
      <setting name="bVFP_DBASE" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Archive_folder" serializeAs="String">
        <value>c:\\basebank\\tofind</value>
      </setting>
      <setting name="Sber_path" serializeAs="String">
        <value>c:\\basebank\\запрос\sber</value>
      </setting>
      <setting name="Archive_sber_path" serializeAs="String">
        <value>c:\\basebank\\archive\\sber</value>
      </setting>
      <setting name="Archive_credorg_path" serializeAs="String">
        <value>c:\\basebank\\archive\\cred_org</value>
      </setting>
      <setting name="Archive_ktfoms_path" serializeAs="String">
        <value>c:\\basebank\\archive\\ktfoms</value>
      </setting>
      <setting name="readFromCopy" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Archive_pens_path" serializeAs="String">
        <value>c:\\basebank\\archive\\pens</value>
      </setting>
      <setting name="Archive_potd_path" serializeAs="String">
        <value>c:\\basebank\\archive\\potd</value>
      </setting>
      <setting name="bDateFolderAdd" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SberFilial_num" serializeAs="String">
        <value>8628</value>
      </setting>
      <setting name="Krc_path" serializeAs="String">
        <value>c:\\basebank\\krc</value>
      </setting>
      <setting name="Archive_krc_path" serializeAs="String">
        <value>c:\\basebank\\archive\\krc</value>
      </setting>
      <setting name="Cred_org_path" serializeAs="String">
        <value>c:\\basebank\\cred_org</value>
      </setting>
      <setting name="Legal_list" serializeAs="String">
        <value>
          86200999999006, 86200999999007, 86200999999008, 86200999999009, 86200999999010, 86200999999011, 86200999999012, 86200999999013
        </value>
      </setting>
      <setting name="Ktfoms_path" serializeAs="String">
        <value>c:\\basebank\ktfoms</value>
      </setting>
      <setting name="Ktfoms_id" serializeAs="String">
        <value>86200999999004</value>
      </setting>
      <setting name="Pens_path" serializeAs="String">
        <value>c:\\basebank\\pens</value>
      </setting>
      <setting name="Pens_id" serializeAs="String">
        <value>86200999999002</value>
      </setting>
      <setting name="Potd_id" serializeAs="String">
        <value>86200999999003</value>
      </setting>
      <setting name="Potd_path" serializeAs="String">
        <value>c:\\basebank\\potd</value>
      </setting>
      <setting name="Krc_id" serializeAs="String">
        <value>86200999999014</value>
      </setting>
      <setting name="Mvd_id" serializeAs="String">
        <value>86200999999015</value>
      </setting>
    </InfoChange.Properties.Settings>
  </applicationSettings>
</configuration>
      